[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/lucario"]
	path = lucario
	url = https://github.com/raphamorim/lucario.git
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "iterm"]
	path = dracula/iterm
	url = https://github.com/dracula/iterm.git
[submodule "vim/bundle/darcula"]
	path = vim/bundle/darcula
	url = https://github.com/blueshirts/darcula.git
[submodule "dracula/jetbrains"]
	path = dracula/jetbrains
	url = https://github.com/dracula/jetbrains.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
